<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Google icons-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  </head>
    <!--------------------------------------------------------------------------------------------------------------->
  <body>
    <!--------------------------------       CONTENT       ---------------------------------------------------------->

    <!--------------------------------       NAVBAR       ---------------------------------------------------------->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <h1 style="padding-right:20px;">Image App</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><span span id="navicon" class="material-icons-outlined">home</span></a>
            <p style="margin-left: 15px;">Home</p>
          </li>
          {% if user.is_authenticated %} <!--if you log in-->         
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><span span id="navicon" class="material-icons-outlined">logout</span></a>
              <p style="margin-left: 15px;">Logout</p>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}"><span id="navicon" class="material-icons-outlined">login</span></a>
              <p style="margin-left: 15px;">Login</p>
            </li>
          {% endif %}
        </ul>
        <div>
          {% if user.is_authenticated %}
            <p style="padding-top: 20px; padding-left: 30px;">Hello, {{user.username}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  
  {% block content %}
  {% endblock content %}
  
    <!--------------------------------------------------------------------------------------------------------------->
    <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  </body>
</html>