{% extends 'base.html' %}

{% block content %}
    <div style="display: inline;">
        <a href="{% url 'upload_image' %}" style="text-decoration: none; color:white;">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="height: 200px; width: 200px;">Upload Image</button>
        </a>        
        <a href="#" style="text-decoration: none; color:white;">
            <button type="button" class="btn btn-warning btn-lg btn-block" style="height: 200px; width: 200px;">My Images</button>
        </a>
    </div>
{% endblock content %}  