{% extends 'base.html' %}

{% block content %}
    <div style="display: inline;">
        <a href="{% url 'upload_image' %}" style="text-decoration: none;">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="height: 300px; width: 300px; color:white;">Upload Image</button>
        </a>        
        <a href="{% url 'my_images' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-warning btn-lg btn-block" style="height: 300px; width: 300px; color:white;">My Images</button>
        </a>
        <a href="{% url 'my_thumbnails_200' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-info btn-lg btn-block" style="height: 300px; width: 300px; color:white;">My Thumbnails 200</button>
        </a>
        {% if user.premium or user.enterprise %}      
        <a href="{% url 'my_thumbnails_400' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-success btn-lg btn-block" style="height: 300px; width: 300px; color:white;">My Thumbnails 400</button>
        </a>     
        <a href="{% url 'my_thumbnails_original' %}" style="text-decoration: none;">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="height: 300px; width: 300px; color:white;">My Thumbnails Original</button>
        </a> 
        {% endif %} 
    </div>
{% endblock content %}  